// default less


ng-md-icon{
	top: 3px;
position: relative;
}


p.p-aligned{
  white-space: normal;
  text-overflow: ellipsis;
  text-align: justify !important;
}

.profile md-content{
  height: 160px;
  margin-top:-8px;
}
.profile md-content .profile-image{
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 15px;
  height: 120px;
  width: 120px;
}
.profile .di-b{
  display: inline-block !important;
}

.noselect {
    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important;
    -khtml-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}


@media (max-width: 599px) {

  .menu-btn{
    text-align: right !important;
    width: 26px !important;
  }

  }


  @media (max-width: 400px) {
  		
  		.menu-btn{
   			 text-align: right !important;
   			 width: 26px !important;
         }

    }
  
  .bg-blurred{
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  }


  form{
  outline:none !important;
  }

  body{
  transform: transale3d(0,0,0);
  }

  body *{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;    
  }