
  <div layout="row" >
  <md-button style="" class="md-raised subtlebtn" ng-if="!$root.selected" ng-click="iniSel()" flex>Seleccionar varios</md-button>
  <md-button style="" class="md-raised subtlebtn" ng-if="$root.selected && $root.selected.length == 0" ng-click="selectAll()" flex>Seleccionar todos</md-button>
  <md-button style="" class="md-raised subtlebtn" ng-if="$root.selected.length > 0" ng-click="delSelected()" flex>Eliminar Selección ({{selected.length}})</md-button>
  </div>

<div layout="row" flex ng-init="getSuites()" style="overflow-x:hidden !important">

     <md-list flex >
       <md-list-item ng-if="values && values.length == 0 || !values">
         <p><br>Parece que no hay Aptos. disponibles.</p>
       </md-list-item>


        <md-list-item  aria-label="item"  class="md-3-line" aria-label="suite" ng-repeat="value in values | filter:search || '' track by $index">
        <div  flex>
          <h3 style="font-weight:normal" ng-click="suiteBottomSheet()" flex>APTO. {{value.suite.Name}}</h3>

          </div>
            <div>
            <div layout="row" >
            <md-button  class="md-icon-button" ng-if="selected"   style="position: relative;
left: 50px; outline:none" >
          <ng-md-icon icon="radio_button_off" aria-label="check" ng-click="this.value.checked=true;$root.selected.push(this.value)" style="outline:none; top:0; fill:gray" ng-if="!this.value.checked"></ng-md-icon> 
          <ng-md-icon icon="check_circle" aria-label="uncheck" ng-click="this.value.checked=!this.value.checked; $root.selected.splice($root.selected.indexOf(this.value),1)" style="outline:none; top:0; fill:rgb(0, 129, 255)" ng-if="this.value.checked"></ng-md-icon>   
      </md-button>
      <md-button  class="md-icon-button"  ng-click="suiteBottomSheet()" style="position: relative;
left: 25px;">
          <md-icon md-svg-icon="assets/icons/more_vert.svg"></md-icon>    
      </md-button>
      </div>
            </div>
        </md-list-item>
     </md-list>
</div>

<div layout="row" ng-if="$root.selected.length > 0" flex style="position:fixed; bottom:0;left:0; width:100%; background:white; border-top:1px solid #ccc">
<div layout="row" flex>
   <md-button ui-sref="nueva-correspondencia" flex>Correspondencia a seleccionados</md-button>
   </div>
</div>