<?xml version='1.0' encoding='utf-8'?>
<widget id="com.digitalhomes.app" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Digital Homes</name>
    <description>
        Manage the building 
    </description>
    <author email="dev@digitalhomes.co" href="http://digitalhomes.co">
        	Digital Homes Team
    </author>
    <content src="index.html" />
    <access origin="*" />


<platform name="android">

   <preference name="android-minSdkVersion" value="18" />
   <preference name="android-installLocation" value="auto" />
	 
   <feature name="Camera">
    <param name="android-package" value="org.apache.cordova.camera.CameraLauncher" />
   </feature>

   <feature name="File">
    <param name="android-package" value="org.apache.cordova.file.FileUtils" />
</feature>

    <icon src="www/res/icon/android/ldpi.png" density="ldpi" />
    <icon src="www/res/icon/android/mdpi.png" density="mdpi"  />
    <icon src="www/res/icon/android/hdpi.png"  density="hdpi" />
    <icon src="www/res/icon/android/xhdpi.png"  density="xhdpi" />

  
    <splash src="www/res/screen/android/ldpi.png" density="port-ldpi"/>
    <splash src="www/res/screen/android/mdpi.png"  density="port-mdpi"/>
    <splash src="www/res/screen/android/hdpi.png"  density="port-hdpi"/>
    <splash src="www/res/screen/android/xhdpi.png"  density="port-xhdpi"/>


</platform>

<platform name="ios">
  
    <preference name="StatusBarOverlaysWebView" value="true"/>

    <preference name="StatusBarBackgroundColor" value="#000000"/>

    <preference name="StatusBarStyle" value="lightcontent" />   

    <feature name="Camera">
        <param name="ios-package" value="CDVCamera" />
    </feature>

              <!-- iOS 8.0+ -->
              <!-- iPhone 6 Plus  -->
              <icon src="www/res/icon/ios/180.png"  width="180" height="180" />
              <!-- iOS 7.0+ -->
              <!-- iPhone / iPod Touch  -->
              <icon src="www/res/icon/ios/60.png"  width="60" height="60" />
              <icon src="www/res/icon/ios/120.png"  width="120" height="120" />
              <!-- iPad -->
              <icon src="www/res/icon/ios/76.png"  width="76" height="76" />
              <icon src="www/res/icon/ios/152.png"  width="152" height="152" />
              <!-- iOS 6.1 -->
              <!-- Spotlight Icon -->
              <icon src="www/res/icon/ios/40.png"  width="40" height="40" />
              <icon src="www/res/icon/ios/80.png"  width="80" height="80" />
              <!-- iPhone / iPod Touch -->
              <icon src="www/res/icon/ios/57.png"  width="57" height="57" />
              <icon src="www/res/icon/ios/144.png"  width="114" height="114" />
              <!-- iPad -->
              <icon src="www/res/icon/ios/72.png"  width="72" height="72" />
              <icon src="www/res/icon/ios/144.png"  width="144" height="144" />
              <!-- iPhone Spotlight and Settings Icon -->
              <icon src="www/res/icon/ios/29.png"  width="29" height="29" />
              <icon src="www/res/icon/ios/58.png"  width="58" height="58" />
              <!-- iPad Spotlight and Settings Icon -->
              <icon src="www/res/icon/ios/50.png"  width="50" height="50" />
              <icon src="www/res/icon/ios/100.png"  width="100" height="100" />

              <splash   src="www/res/screen/ios/320x480.png" width="320" height="480"/>
              <splash   src="www/res/screen/ios/640x960.png" width="640" height="960"/>
              <splash  src="www/res/screen/ios/768x1024.png"  width="768" height="1024"/>
              <splash   src="www/res/screen/ios/1536x2048.png" width="1536" height="2048"/>
              <splash   src="www/res/screen/ios/1024x768.png" width="1024" height="768"/>
              <splash   src="www/res/screen/ios/2048x1536.png" width="2048" height="1536"/>
             <splash   src="www/res/screen/ios/640x1136.png" width="640" height="1136"/>
             <splash   src="www/res/screen/ios/750x1334.png" width="750" height="1334"/>
             <splash   src="www/res/screen/ios/1242x2208.png" width="1242" height="2208"/>

</platform>

</widget>
