<?xml version='1.0' encoding='utf-8'?>
<widget id="mobi.pdf417.demo" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Digital Homes</name>
    <description>
        Manage the building 
    </description>
    <author email="dev@digitalhomes.co" href="http://digitalhomes.co">
        	Digital Homes Team
    </author>
    <content src="index.html" />
    <access origin="*" />

<platform name="android">
	
	<feature name="Camera">
    <param name="android-package" value="org.apache.cordova.camera.CameraLauncher" />
    </feature>

</platform>

<platform name="ios">
     <feature name="Camera">
        <param name="ios-package" value="CDVCamera" />
    </feature>
</platform>

</widget>
