<html lang="en" ng-app="dhome">
  <head>
    <meta charset="utf-8">
     <meta name="HandheldFriendly" content="True">
     <meta name="MobileOptimized" content="320">
     <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0"/> 
     <meta http-equiv="cleartype" content="on">
    <link rel="stylesheet" href="assets/libs/angular-material/angular-material.css">
    <link rel="stylesheet" href="assets/font/custom/style.css">
    <link rel="stylesheet/less"  href="assets/less/default.less">
    <script src="assets/less/less.js"></script>   

    <style type="text/css">
    html, body{
      background: url(assets/img/bg-1.png);
      /**/
    }
    </style> 
  </head>
  <body layout="column" >
    <div ng-controller="mainCtrl" layout="column" layout-fill>


<div layout="row" flex class="content-wrapper" ng-click="$root.insearch=false">

   
    
    <md-content layout   class="" flex style="background:transparent">

         
          <form ng-click="login()"  hide-sm layout-align="center" style="margin:0 auto" flex="33" aria-label="login" ng-model="form" autocomplete='off'>


          <br>
          <br>
          <br>
          <label>
          <h2 style="text-align:center;">Digital Homes</h2>
          </label>
          <br>
          <md-content  style="padding:4rem; border-radius:1rem">
              <md-input-container flex>


                <label>Nombre de Usuario *</label>
                <input ng-model="form.username" >
              </md-input-container>
               <md-input-container flex>
                <label>Contraseña *</label>
                <input type="password" ng-model="form.password">
              </md-input-container>
             
             <div layout="row">
                  <span style="color:red">{{error_login || ''}}</span>
              </div>

             <br>
              <div>

              <md-button >
                 Recuperar Contraseña
              </md-button>

                <md-button ng-click="login()" class="md-raised md-primary" style="float:right;display:block">
                 Ingresar
              </md-button>

              </div>

</md-content>
              </form>

                        <form hide-gt-sm layout-align="center" style="margin:0 auto" ng-model="form">
          <br>
          <br>
          <br>
          <label>
          <h2 style="text-align:center;">Digital Homes</h2>
          </label>
          <br>
          <md-content  style="padding:4rem; border-radius:1rem">
              <md-input-container flex>
                <label>Nombre de Usuario *</label>
                <input ng-model="form.username" >
              </md-input-container>
               <md-input-container flex>
                <label>Contraseña *</label>
                <input ng-model="form.password" >
              </md-input-container>

             
             <div layout="row">
                  <span style="color:red">{{error_login || ''}}</span>
              </div>

       <br>
              <div>

              <md-button >
                 Recuperar Contraseña
              </md-button>

                <md-button class="md-raised md-primary" style="float:right;display:block">
                 Ingresar
              </md-button>

              </div>

</md-content>
              </form>

    </md-content>

    



  </div>
    <!-- Angular Material Dependencies -->
    <script src="assets/libs/angular/angular.min.js"></script>
    <script src="assets/libs/angular-animate/angular-animate.min.js"></script>
    <script src="assets/libs/ui-router/release/angular-ui-router.min.js"></script>    
    <script src="assets/libs/angular-aria/angular-aria.min.js"></script>
    <script src="assets/libs/angular-material/angular-material.js"></script>
    <script src="assets/libs/angular-material-icons/angular-material-icons.min.js"></script>
    <script src='assets/libs/lodash/dist/lodash.min.js'></script>
    <script src="assets/helpers/config.js"></script>
    <script src="assets/js/main.js"></script>    
    <script src="assets/js/api_service.js"></script>
    <script src="assets/js/services.js"></script>
    <script src="assets/js/controllers.js"></script>

  </body>
</html>