

      <table class="bottom-bar" >
        <tbody >
          <tr layout="row">
            <td style="width:25%; text-align:center" ui-sref="home" layout="column">
               

                <ng-md-icon icon="home" style="fill:gray;display: block;"></ng-md-icon>
                <small>Noticias</small>
               
            </td>

            <td style="width:25%; text-align:center" layout="column">
          
               <ng-md-icon icon="group" style="fill:gray;display: block;"></ng-md-icon>
               <small>Visitas</small>

          
            </td>

            <td style="width:25%; text-align:center" layout="column">
       
           <ng-md-icon icon="archive" style="fill:gray;display: block;"></ng-md-icon> 
           <small>Corres/cia</small>

        
            </td>

            <td style="width:25%; text-align:center"  ui-sref="areas" layout="column">

                   <ng-md-icon icon="domain" style="fill:gray;display: block;"></ng-md-icon>
              <small>Areas</small>

                
            </td>

          </tr>
        </tbody>
      </table>

       
         
  

