

      <table class="bottom-bar" ng-show="!$root.invited">
        <tbody >
          <tr layout="row">

            <td ng-click='' style="width:20%; text-align:center" ui-sref="home" ng-class="{'opt-active' : $root.state.toLowerCase().match('home')}"  layout="column">
               

                <ng-md-icon icon="home" style="fill:gray;display: block;"></ng-md-icon>
                <small>Noticias</small>
               
            </td>

            <td style="width:20%; text-align:center" ui-sref="menu_visitas" ng-class="{'opt-active' : $root.state.toLowerCase().match('visitas')}"  layout="column">
          
               <ng-md-icon icon="group" style="fill:gray;display: block;"></ng-md-icon>
               <small>Visitas</small>

          
            </td>

            <td style="width:20%; text-align:center" ui-sref="menu_correspondencias" ng-class="{'opt-active' : $root.state.toLowerCase().match('correspondencia')}"   layout="column">
       
           <ng-md-icon icon="archive" style="fill:gray;display: block;"></ng-md-icon> 
           <small>Casillero</small>

        
            </td>

            <td style="width:20%; text-align:center" ng-class="{'opt-active' : $root.state.toLowerCase().match('area|schedule')}"  ui-sref="areas" layout="column">

                   <ng-md-icon icon="domain" style="fill:gray;display: block;"></ng-md-icon>
              <small>Áreas</small>

                
            </td>

            <td style="width:20%; text-align:center"  ng-click="sos()" layout="column">

                   <ng-md-icon icon="hearing" style="fill:red;display: block;"></ng-md-icon>
              <small style="color:red !important">SOS</small>

                
            </td>

          </tr>
        </tbody>
      </table>

       
         
  

