 <md-toolbar class="bottom-bar">
     <div layout="row" flex>
        <md-button flex>
           <ng-md-icon icon="home" style="fill:gray;display: block;"></ng-md-icon>
           <small>Home</small>
        </md-button>
          <md-button flex>
           <ng-md-icon icon="group" style="fill:gray;display: block;"></ng-md-icon>
           <small>Visitas</small>

        </md-button>
  <md-button flex>
           <ng-md-icon icon="archive" style="fill:gray;display: block;"></ng-md-icon> 
           <small>Corres/cia</small>

        </md-button>
  <md-button flex>
           <ng-md-icon icon="domain" style="fill:gray;display: block;"></ng-md-icon>
           <small>Areas</small>

        </md-button>

     </div>
   </md-toolbar>