<md-sidenav class="md-sidenav-right colored" layout="column" md-swipe-right="menu_right()" md-component-id="right" md-is-locked-open="$mdMedia('gt-sm')">
    <md-toolbar hide-gt-sm class="md-theme-light ">
        <h1 class="md-toolbar-tools">Opciones</h1>
    </md-toolbar>
    <md-content style="overflow: auto;
  height: 100%; " >
        <md-list  flex>
          <br>
            <md-item layout="row" flex>
                <md-item-content flex class="docs-menu">
                    <md-button class="md-button-toggle md-button md-default-theme docs-menu" ui-sref="home"  aria-expanded="true" class="docs-menu">
                      <div flex layout="row" > 
                       <ng-md-icon icon="home" style="fill:gray;top:5px;position:relative"></ng-md-icon> &nbsp;<span>Home</span>
                      </div>
                    </md-button>                    
                </md-item-content>
            </md-item>
            
            <md-item layout="row" ng-if="$root.userRole === 'Residente'" flex>
                <md-item-content flex class="docs-menu">
                    <md-button class="md-button-toggle md-button md-default-theme docs-menu" ui-sref="invite"  aria-expanded="true" class="docs-menu">
                      <div flex layout="row" > 
                       <ng-md-icon icon="supervisor_account" style="fill:gray;top:5px;position:relative"></ng-md-icon> &nbsp;<span>Invitar residente</span>
                      </div>
                    </md-button>                    
                </md-item-content>
            </md-item>
           
            <!--     <md-item-content layout="row" flex>
               <md-button ui-sref="visitas">
               <ng-md-icon icon="center_focus_weak" style="fill:gray" ></ng-md-icon>                  
               <span>
               Camaras
               </span>
               </md-button>
               </md-item-content>
            </md-item> -->
           <!-- <md-item layout="row" flex>


                <md-item-content flex>
                    <md-button ui-sref="inboxs">
                        <ng-md-icon icon="inbox" style="fill:gray"></ng-md-icon>
                        <span>
               Mensajes
               </span>
                    </md-button>
                </md-item-content>
            </md-item>-->
            <md-item layout="row"  flex>


                <md-item-content layout="row" flex>

                    <md-button ui-sref="perfil">
                        <ng-md-icon icon="person" style="fill:gray"></ng-md-icon>
                        <span>
              Mi Perfil
               </span>
                    </md-button>
                </md-item-content>
            </md-item>

            <md-item layout="row" flex>
            
                <md-item-content layout="row" flex>
                    <md-button ng-click="logout()">
                        <ng-md-icon icon="exit_to_app" style="fill:gray"></ng-md-icon>
                        <span>
               Cerrar Sesión
               </span>
                    </md-button>
                </md-item-content>
            </md-item>
            <md-item layout="row" flex hide-gt-sm>
                
              
            
            </md-item>


          
          <md-item>
          <br>
          <br>
             <p style="  margin-left: 15px;" visible-sm hide-gt-sm> &nbsp;<strong>DIGITAL HOMES</strong> <br> <small style="font-size: 11px; margin-left: 5px"> powered by RTC & NATIVAPPS</small> </p>

          </md-item>

        </md-list>
    </md-content>
</md-sidenav>
