<md-sidenav class="md-sidenav-right" md-component-id="right" md-is-locked-open="$mdMedia('gt-sm')">
    <md-toolbar hide-gt-sm class="md-theme-light md-whiteframe-glow-z2">
        <h1 class="md-toolbar-tools">Opciones</h1>
    </md-toolbar>
    <md-content>
        <md-list flex>
            <md-item layout="row" flex>
                <md-item-content flex class="docs-menu">
                    <md-button class="md-button-toggle md-button md-default-theme docs-menu" ui-sref="home"  aria-expanded="true" class="docs-menu">
                      <div flex layout="row" > 
                       <ng-md-icon icon="home" style="fill:gray;top:5px;position:relative"></ng-md-icon> &nbsp;<span>Home</span>
                      </div>
                    </md-button>                    
                </md-item-content>
            </md-item>
            <md-item layout="row" flex>
                   <md-item-content flex class="docs-menu">
                <div class="menu-toggle">
                <ul class="docs-menu" >
                  <li>
                    <md-button class="md-button-toggle md-button md-default-theme docs-menu"  ng-click="Home.show  = !Home.show"   aria-controls="docs-menu-Demos" aria-expanded="true" class="docs-menu">
                      <div flex layout="row" > 
                       <ng-md-icon icon="layers" style="fill:gray;top:5px;position:relative"></ng-md-icon> &nbsp;<span> Visitas </span>
                        <span flex=""></span>
                        <span aria-hidden="true" class="md-toggle-icon" ng-class="{'toggled' : Home.show}">
                          <md-icon md-svg-src="md-toggle-arrow" class="ng-isolate-scope md-default-theme" style="height:40px;"></md-icon>
                        </span>
                      </div>
                      <div class="md-ripple-container"></div>
                    </md-button>                    
                  </li>
                </ul>
                <ul ng-show="Home.show" id="docs-menu-Demos" class="menu-toggle-list">
               
                    <li>
                      <menu-link>
                        <md-button class="md-button md-button-toggle md-default-theme docs-menu" ui-sref="visitas.prealertadas" ng-class="{'active' : Home.selected}">
                          <span >Prealertadas ({{$root.vprealertadas || 0}})
                          </span>
                        <div class="md-ripple-container"></div>
                      </md-button>
                    </menu-link>
                  </li>

                    <li>
                      <menu-link>
                        <md-button class="md-button md-button-toggle md-default-theme docs-menu" ui-sref="visitas.pendientes" ng-class="{'active' : Home.selected}">
                          <span >Pendiente Aprobación ({{$root.vnoaprobadas || 0}})
                          </span>
                        <div class="md-ripple-container"></div>
                      </md-button>
                    </menu-link>
                  </li>
                     <li>
                      <menu-link>
                        <md-button class="md-button md-button-toggle md-default-theme docs-menu" ui-sref="visitas.aprobadas" ng-class="{'active' : Home.selected}">
                          <span >Aprobadas ({{$root.vaprobadas || 0}})
                          </span>
                        <div class="md-ripple-container"></div>
                      </md-button>
                    </menu-link>
                  </li>

                     <li>
                      <menu-link>
                        <md-button class="md-button md-button-toggle md-default-theme docs-menu"  ui-sref="visitas.historial" ng-class="{'active' : Home.selected}">
                          <span>Todas
                          </span>
                        <div class="md-ripple-container"></div>
                      </md-button>
                    </menu-link>
                  </li>
    
                </ul>                  
                </div>
                </md-item-content>
            </md-item>
            <md-item layout="row" flex>
                <md-item-content flex>

                    <md-button ui-sref="correspondencias">
                        <ng-md-icon icon="archive" style="fill:gray"></ng-md-icon>
                        <span>
               Correspondencias
               </span>
                    </md-button>
                </md-item-content>
            </md-item>
            <!--     <md-item-content layout="row" flex>
               <md-button ui-sref="visitas">
               <ng-md-icon icon="center_focus_weak" style="fill:gray" ></ng-md-icon>                  
               <span>
               Camaras
               </span>
               </md-button>
               </md-item-content> -->
            </md-item>
           <!-- <md-item layout="row" flex>


                <md-item-content flex>
                    <md-button ui-sref="inboxs">
                        <ng-md-icon icon="inbox" style="fill:gray"></ng-md-icon>
                        <span>
               Mensajes
               </span>
                    </md-button>
                </md-item-content>
            </md-item>-->
            <md-item layout="row" class="ng-hide" flex>


                <md-item-content layout="row" flex>

                    <md-button ui-sref="perfil">
                        <ng-md-icon icon="person" style="fill:gray"></ng-md-icon>
                        <span>
              Mi Perfil
               </span>
                    </md-button>
                </md-item-content>
            </md-item>

            <md-item layout="row" flex>
            
                <md-item-content layout="row" flex>
                    <md-button ng-click="logout()">
                        <ng-md-icon icon="close" style="fill:gray"></ng-md-icon>
                        <span>
               Cerrar Sesión
               </span>
                    </md-button>
                </md-item-content>
            </md-item>
            <md-item layout="row" flex hide-gt-sm>
                
                <md-item-content flex>
                    <md-button ng-click="menu_right()" class="md-primary">
                        Cerrar
                    </md-button>
                </md-item-content>
            </md-item>
        </md-list>
    </md-content>
</md-sidenav>
