<div layout="row" flex ng-init="getSuites()" style="overflow-x:hidden !important">
     <md-list flex>
       <md-list-item ng-if="values.length == 0 || !values">
         <p><br>Vaya, parece que no hay Aptos. disponibles.</p>
       </md-list-item>


        <md-list-item class="md-3-line" ng-repeat="value in values">
          <p>APTO. {{value.Name}}</p>
          <div layout="column" flex>
          <div layout="row">
           <ng-md-icon icon="person" style="fill:gray"></ng-md-icon>
           &nbsp;
           <ng-md-icon icon="archive" style="fill:gray"></ng-md-icon>
           </div>
          </div>
            <div layout="column" >
            <div layout="row" >
      <md-button  class="md-icon-button" ng-click="centerBottomSheet($ev)" aria-label="more-center" style="position: relative;
left: 25px;">
          <md-icon md-svg-icon="assets/icons/more_vert.svg"></md-icon>    
      </md-button>
      </div>
            </div>
        </md-list-item>
     </md-list>
</div>