<section class="profile" style="padding:0 !important; height:94%" >
   <div layout="row">   
    <md-content  flex style="position:relative; padding:0 !important;">

    <div flex style="padding:0 !important; background: url({{center.image}}) no-repeat center center;background-size:cover; width:100%; height:100%; position:absolute; left:0; top:0" class="bg-blurred"></div>
        <div class="profile-image" style="background: url({{center.image}}) no-repeat center center;background-size:cover;   z-index: 1;
  position: relative;"></div>
        
        
    </md-content>
    </div>
    <div layout="row">
    	<md-toolbar flex class="md-whiteframe-z1" layout-align="center center" style="padding:0 !important;">
    	  <div class="md-toolbar-tools">
		      	<md-button ui-sref="call" class="md-icon-button" flex aria-label="call">
		      <ng-md-icon icon="call" style="fill:white; top:14px"></ng-md-icon>
              </md-button>
		        <md-button class="md-icon-button" flex aria-label="medic" ui-sref="cita">
		        	<ng-md-icon icon="layers" style="fill:white; top:14px"></ng-md-icon>
		        </md-button>
		        <md-button class="md-icon-button" flex aria-label="botton-sheet" ng-click="centerBottomSheet($ev)">
		        	
                    <ng-md-icon icon="keyboard_control" size="30" style="fill:white;"></ng-md-icon>

                    
		        </md-button>
		    </div>
        </md-toolbar>
    </div>
    <div layout="row" id="map" flex style="height:59%; padding:0 !important;" ng-init="loadCenterMap()">
    	
    </div>

</section>
