<!-- visitas -->

     <md-list ng-init="load()" style="position:relative" layout-padding>

  <div ng-if="values">
  <md-lis-item ng-if="values.length == 0">
        <p>Vaya, parece que no tienes citas pendientes por el momento.</p>
  </md-lis-item>   
  </div>
     
     
     <md-list-item class="md-3-line"   ng-repeat="value in values track by $index | filter:$root.search" aria-label="swipe">


      <img  ng-src="{{ value.image || 'assets/img/guest.png' }}" class="md-avatar" ng-click="goToProfile()" aria-label="profile">
      
      <div class="md-list-item-text" flex  aria-label="profile" ng-click="goToProfile()">
          
          <h3>{{ value.name }}</h3>          
          <p class="p-aligned">{{ value.description.ellipsis()}}</p>          
        </div>
        <div layout="column">
        <div layout="row">
      <md-button  class="md-icon-button" ng-click="centerBottomSheet($ev)" aria-label="more-center" style="position: relative;
left: 25px;">
          <md-icon md-svg-icon="assets/icons/more_vert.svg"></md-icon>    
      </md-button>
      </div>
      </div>
 
      <br>
       <md-divider inset></md-divider>

<!-- dev manuel -->
     </md-list-item> 

  <md-button style="position:fixed; bottom:10px; left:67%" class="md-fab md-default-theme" ui-sref="nueva-visita" >
    <ng-md-icon icon="add" style="fill:white; top: 15px;"></ng-md-icon>
    </md-button>
      
    </md-list>

  