 <section style="background:white">
<br>
 <md-subheader class="md-primary">Áreas</md-subheader>

 <md-list class="responsive"  ng-init="load()" style="position:relative" layout-padding>

      <md-lis-item ng-if="values && correspondences.length == 0 && !$root.loading">
        <p>Parece que no tienes areas disponibles por el momento.</p>
      </md-lis-item>   
     

    <md-list-item class="md-3-line" ng-click="$root.space=value;gotoschedule(value.Id)" aria-label="swipe" ng-repeat="value in values | filter:$root.search || ''">

             
        <span class="md-avatar">
          <i class="ion-xbox" style="font-size: 27px; color: gray;"></i>
        </span>
          

      <div class="md-list-item-text" flex  aria-label="profile" >


            <h3>{{value.Name}}</h3>          
          <p class="p-aligned" ng-if="value.IsFreeNow">
          Disponbible Ahora
          </p>   
          <p class="p-aligned" style="color:red" ng-if="!value.IsFreeNow">
          No disponible ahora
          </p>                      
        </div>

        <div layout="column">
        <div layout="row">
      <md-button  class="md-icon-button ng-hide"  aria-label="more-center" style="position: relative;
left: 25px;">
          <md-icon md-svg-icon="assets/icons/more_vert.svg"></md-icon>    
      </md-button>
      </div>
      </div>
 
      <br>
       <md-divider inset></md-divider>


     </md-list-item> 



     


      
    </md-list>
    </section>
  
<section style="background:white" >
 <md-subheader class="md-primary " >Mis Reservas</md-subheader>

 <md-list class="responsive"  ng-init="loadReservations()"  style="position:relative" layout-padding>


     <md-card  layout="column" class="md-whiteframe-z3" ng-click="$root.reservation=value;"   ng-repeat="value in valuess | filter:$root.search || '' track by $index"  aria-label="swipe" style="  margin-bottom: 20px !important;   position: relative;">
  <md-card-content >
<small layout="row">{{value.PaymentDate ? "Pagada" : "Pago pendiente"}} &nbsp;&nbsp;<ng-md-icon icon="brightness_1" size="10" ng-class="{'color-red': value.State === 'Declined', 'color-red': value.State === 'Canceled', 'color-green' : value.PaymentDate, 'color-orange': value.State === 'Pending'}"></ng-md-icon>  </small>
<div style="  position: absolute;
  right: 0;
  top: 3px;">
       
              <md-button  class="md-icon-button"  aria-label="more-menu" ng-click="centerBottomSheet()">
                  <ng-md-icon icon="more_vert" style="fill:gray"></ng-md-icon>   
              </md-button>
              </div>
              <div></div>
     <strong layout="row" style="font-size: 20px; color:#444">
     {{value.SpaceName || 'Piscina'}}</strong>

  </md-card-content>
  <md-card-content  style="  padding-bottom: 0;
  padding-top: 0;">
     <small>fecha: {{ moment(value.ReservationDate).format("MMMM Do YYYY, h:mm a")}}</small>
    </md-card-content>

  <br>
</md-card>


      
    </md-list>
    </section>
