
<section class="responsive nooverflow" style="background:white">
<br>
<br>
<div style="width:95%; margin:0 auto">
<calendar calendar-mode="mode" range-changed="reloadSource(startTime, endTime)">
</calendar>

<br>

<div style="background:url(http://www.camping-villasol.com/gallery/data1/images/piscina4.jpg) no-repeat; width:100%; height:150px; background-size:cover; background-position:center bottom;   position: absolute;
  left: 0;"></div>
<br>
<p style="margin-top:155px">
{{$root.space.Description || 'La piscina cuenta con 1.5m de profundidad, zona de bronceado y baños.'}}
<br>
<br>

</section>
