<md-bottom-sheet class="md-list md-has-header">
  <md-subheader><h2 style="text-transform:capitalize">{{$root.correspondence.To}}</h2></md-subheader>
  <md-list>
    <md-list-item >
      <md-button class="md-list-item-content" >
        <ng-md-icon icon="details" style="fill:gray" ></ng-md-icon>        
        <span class="md-inline-list-icon-label" ui-sref="detalle_correspondencia({value:{To:'Javier'}})" href="#/detalle_correspondencia" >Ver detalles</span>
      </md-button>
    </md-list-item>
    <md-list-item>
      <md-button class="md-list-item-content" >
        <ng-md-icon icon="reply" style="fill:gray" ></ng-md-icon>        
        <span class="md-inline-list-icon-label">Entregar correspondencia</span>
      </md-button>
    </md-list-item>
<br>
  </md-list>
</md-bottom-sheet>