<md-bottom-sheet class="md-list md-has-header">
  <md-subheader><h2 style="text-transform:capitalize">APTO. {{$root.suite.Name}}</h2></md-subheader>
  <md-list>

      <md-list-item >
      <md-button class="md-list-item-content"  ui-sref="nueva-visita" >
        <ng-md-icon icon="person" style="fill:gray" ></ng-md-icon>        
        <span class="md-inline-list-icon-label">Registrar visita</span>
      </md-button>
    </md-list-item>
    

    <md-list-item >
      <md-button class="md-list-item-content" >
        <ng-md-icon icon="archive" style="fill:gray" ></ng-md-icon>        
        <span class="md-inline-list-icon-label">Registrar correspondencia</span>
      </md-button>
    </md-list-item>


    <md-list-item ng-hide="$root.state == 'favorites'">
      <md-button class="md-list-item-content" ng-click="favorite()">
        <ng-md-icon icon="my_library_books" style="fill:gray" ></ng-md-icon>        
        <span class="md-inline-list-icon-label">Enviar mensaje</span>
      </md-button>
    </md-list-item>



<br>
  </md-list>
</md-bottom-sheet>