<md-bottom-sheet class="md-list md-has-header">
  <md-subheader><h2 style="text-transform:capitalize">APTO. {{$root.suite.suite.Name}} ({{$root.suite.tower.Name}})</h2></md-subheader>
  <md-list>

      <md-list-item >
      <md-button class="md-list-item-content"  ui-sref="nueva-visita" >
        <ng-md-icon icon="person" style="fill:gray" ></ng-md-icon>        
        <span class="md-inline-list-icon-label">Registrar visita</span>
      </md-button>
    </md-list-item>
    

    <md-list-item >
      <md-button class="md-list-item-content" ng-click="resetTower()" ui-sref="nueva-correspondencia">
        <ng-md-icon icon="archive" style="fill:gray" ></ng-md-icon>        
        <span class="md-inline-list-icon-label" >Registrar correspondencia</span>
      </md-button>
    </md-list-item>


      <md-list-item >
      <md-button class="md-list-item-content" ng-click="resetTower()" ui-sref="correspondencias.porentregar">
        <ng-md-icon icon="reply" style="fill:gray" ></ng-md-icon>        
        <span class="md-inline-list-icon-label" >Entregar correspondencia</span>
      </md-button>
    </md-list-item>


   <!-- <md-list-item >
      <md-button class="md-list-item-content" ng-click="resetTower()" ui-sref="enviar-inbox">
        <ng-md-icon icon="mail" style="fill:gray" ></ng-md-icon>        
        <span class="md-inline-list-icon-label">Enviar mensaje</span>
      </md-button>
    </md-list-item> -->

<md-divider></md-divider>

<md-list-item >
 <br>


<br>
  </md-list>
</md-bottom-sheet>