
<md-content layout-padding ng-init="loadOne()" >
	<md-input-container flex="">
		<h4>Para el Residente</h4>
		<span>{{value.To || $root.nothing }}</span>
		<h4>Observación</h4>
		<span>{{value.Observations || $root.nothing}}</span>
		<h4>Foto de la Correspondecia</h4>

		<span ng-if="!value.CustomData.image">{{$root.nothing }}</span>
		<img  width="350" ng-if="value.CustomData.image" ng-src="{{$root.apiurl + '/images?buildingid='+ $root.building + '&amp;name=' + value.CustomData.image}}" alt="image">

        <div ng-if="value.OpenImage">

		<h4>Foto de apertura de correspondencia</h4>

		<img  width="350"  ng-src="{{value.OpenImage}}" alt="image">

		</div>
<br>
<br>

		<md-content layout="row" ng-if="(canOpen(value) != -1) && value.State == 'Pendiente' && !value.OpenImage">

   <md-button class="md-raised md-primary"  flex ng-click="open(value)">
     Solicitar Apertura
   </md-button>

</md-content>
	</md-input-container>
</md-content>


