  <section>

<md-content class="responsive">
    <br>

    <md-list  >
          
            <md-item layout="row" ui-sref="correspondencias.porentregar" flex>
                   <md-item-content flex class="docs-menu">
                <div class="menu-toggle">
                <ul class="docs-menu" >
                  <li>
                    <md-button class="md-button-toggle md-button md-default-theme docs-menu"    aria-controls="docs-menu-Demos" aria-expanded="true" class="docs-menu">
                      <div flex layout="row" > 
                          <span >Correspondencia pendiente 
                          </span>
                        <span flex=""></span>
                        <span aria-hidden="true" >
                        <span class="badge orange-badge">{{$root.cstats.Pendings || 0}}</span>
                        </span>
                      </div>
                      <div class="md-ripple-container"></div>
                    </md-button>                    
                  </li>
                </ul>
                               
                </div>
                </md-item-content>
            </md-item>


     

             <md-item layout="row" ui-sref="correspondencias.todas" flex>
                   <md-item-content flex class="docs-menu">
                <div class="menu-toggle">
                <ul class="docs-menu" >
                  <li>
                    <md-button class="md-button-toggle md-button md-default-theme docs-menu"  aria-controls="docs-menu-Demos" aria-expanded="true" class="docs-menu">
                      <div flex layout="row" > 
                        <span>Todas
                          </span>
                        <span flex=""></span>
                        <span aria-hidden="true">
                        <span class="badge orange-badge">{{$root.cstats.Pendings + $root.cstats.Delivereds || 0}}</span>
                          

                        </span>
                      </div>
                      <div class="md-ripple-container"></div>
                    </md-button>                    
                  </li>
                </ul>
                               
                </div>
                </md-item-content>
            </md-item>

          </section>