
 
 <section on-scroll-bottom="more('Pendings')"  ng-init="load('Pendings')"  style="overflow:auto; height:100%; ">



 <md-list  layout-padding>

      <md-lis-item ng-if="values && correspondences.length == 0 && !$root.loading">
        <p>Parece que no tienes correspondencias por el momento.</p>
      </md-lis-item>   
     

    <md-card  layout="column" ui-sref="correspondencias.detalle({id:{{value.Id}}})"  ng-repeat="value in values | filter:search || '' track by $index"  aria-label="swipe" style="  margin-bottom: 20px !important;   position: relative;">
  <md-card-content >
<small layout="row">Correspondencia de</small>
        <md-button  class="md-icon-button"  aria-label="more-center" style="  position: absolute;
  right: 0;
  top: 3px;">
                  <ng-md-icon icon="email" style="fill:gray"></ng-md-icon>   
              </md-button>
              <div></div>
     <strong layout="row" style="font-size: 20px; color:#444">
     {{value.CustomData.de || 'Pedro Perez'}}</strong>

  </md-card-content>
  <md-card-content  style="  padding-bottom: 0;
  padding-top: 0;">
     <small>fecha: {{ moment(value.CorrespondenceDate).format("MMMM Do YYYY, h:mm a")}}</small>
    </md-card-content>

  <br>
</md-card>


     


      
    </md-list>

    </section>

      <div layout="row" class="opt_bar"  ng-if="$root.selected.length > 0" style="width:{{$root.bbw+'px'}}" flex >
<div layout="row" flex>
   <md-button ng-click="deliver()" flex>Entregar Correspondencias</md-button>
   </div>
</div>