 <md-list ng-init="load()" style="position:relative" layout-padding>

      <md-lis-item ng-if="values && correspondences.length == 0 && !$root.loading">
        <p>Parece que no tienes correspondencias por el momento.</p>
      </md-lis-item>   
     

     <md-list-item class="md-3-line" ng-click="centerBottomSheet(value)" ng-init="parseCustom()"  ng-repeat="value in values | filter:nodelivered | filter:search || '' track by $index" aria-label="swipe">



      <div class="md-avatar" style="background:#ebebeb; text-align:center; line-height:2.5; text-transform:uppercase"  aria-label="profile">
       {{value.inits}}
      </div>
      
      <div class="md-list-item-text" flex  aria-label="profile" ng-click="goToProfile()">
          
            <h3>{{ value.CustomData.suite ? 'APTO. ' + value.CustomData.suite + ' (' + value.CustomData.tower + ')' : 'Masivo'  }} {{ value.To ? ' -  ' + value.To : '' }}</h3>          
          <p class="p-aligned">
          fecha: {{ moment(value.CorrespondenceDate).format("MMMM Do YYYY, h:mm a") }} <br>
          de: {{ value.CustomData.de }}
          </p>                       
        </div>
        <div layout="column">
        <div layout="row">
      <md-button  class="md-icon-button"  aria-label="more-center" style="position: relative;
left: 25px;">
          <md-icon md-svg-icon="assets/icons/more_vert.svg"></md-icon>    
      </md-button>
      </div>
      </div>
 
      <br>
       <md-divider inset></md-divider>


     </md-list-item> 


     


      
    </md-list>