<div l>
<div class="post" layout="row">
       <md-content   layout-align="center center" style=" margin-bottom:0; padding: 8px !important;" flex>
            <form name="form" ng-model="formm" flex>
 


          


              <fieldset layout="row">
              <div style="border-bottom:1px solid #ccc; border-bottom: 1px solid #ccc;
  padding-bottom: 6px; position:relative">
              <md-input-container style="padding-bottom:0;border:none;padding-bottom: 0;
  border: none;
  width: 87%;" flex>
                
                 <label> Qué deseas publicar? </label>
                <textarea style="line-height:1.4; border:none" ng-model="formm.Notice.Description" columns="1" ></textarea>  
                
              </md-input-container>
              <ng-md-icon icon="send" ng-click="post()"  style="position: absolute;
  right: 18px;
  top: 49px;
  fill: gray;"></ng-md-icon>
              </div>

             </fieldset>


              <div ng-if="$root.photosrc" layout="row" style="height:50px; overflow:auto; position:relative">
                  <span style="position:absolute; top:0; left:60px" ng-click="$root.photosrc=null"><ng-md-icon class="gray" size="18" icon="close"></ng-md-icon></span>
                   <img ng-src="{{$root.photosrc}}" width="50px">
              </div>

              <div ng-if="file" layout="row" style="height:50px; overflow:auto; position:relative">
                  <span  ><ng-md-icon class="gray" size="18" icon="attach_file"></ng-md-icon> {{file.name}} <ng-md-icon class="gray" ng-click="delfile()" size="18" icon="close"></ng-md-icon></span>
                   
              </div>


            </form>




       </md-content>



   </div>

   <div layout="row" style="background:rgba(213, 213, 213, 0.55)">

              <md-button  ng-click="takei()"  flex>
                   Imagen <ng-md-icon icon="image" style="fill:gray"></ng-md-icon>
                </md-button>

                      <input  type="file" style="display:none" accept="image/*;capture=camera"  id="iphoto" file-model="$root.photo">
              
                 <md-button ng-click="takef()" ng-if="$root.platform != 'ios'" flex>
                   Documento <ng-md-icon style="fill:gray" icon="attach_file"></ng-md-icon>
                 </md-button>

                      <input  type="file" style="display:none"  id="ifile" file-model="file">
                 
                 

              </div>

          

              </div>
