  <section>
<md-content class="responsive">
    <br>

     <md-list  flex>
          
            <md-item ng-if="$root.userRole=='Administrador'" layout="row" class="ng-hide" flex>
                   <md-item-content flex class="docs-menu">
                <div class="menu-toggle">
                <ul class="docs-menu" >
                  <li>
                    <md-button class="md-button-toggle md-button md-default-theme docs-menu"  ng-click="Myv= !Myv; loadMy();"   aria-controls="docs-menu-Demos" aria-expanded="true" class="docs-menu">
                      <div flex layout="row" > 
                       <span>Mis Visitas Pendientes</span>
                        <span flex=""></span>
                        <span aria-hidden="true" class="md-toggle-icon" ng-class="{'toggled' : Myv}">
                          <md-icon md-svg-src="md-toggle-arrow" class="ng-isolate-scope md-default-theme" style="height:40px;"></md-icon>
                        </span>
                      </div>
                      <div class="md-ripple-container"></div>
                    </md-button>                    
                  </li>
                </ul>
               
                </div>
                </md-item-content>
            </md-item>

    <md-list  flex>
          
            <md-item layout="row" ui-sref="visitas.prealertadas" flex>
                   <md-item-content flex class="docs-menu">
                <div class="menu-toggle">
                <ul class="docs-menu" >
                  <li>
                    <md-button class="md-button-toggle md-button md-default-theme docs-menu"  ng-click="Myv= false;values=[];Preshow  = !Preshow;load('Prealerteds',true);"   aria-controls="docs-menu-Demos" aria-expanded="true" class="docs-menu">
                      <div flex layout="row" > 
                       <span>Prealertadas</span>
                        <span flex=""></span>
                        <span aria-hidden="true"  > 
                          <span class="badge orange-badge">{{$root.vstats.preauthorized}}</span>
                        </span>
                      </div>
                      <div class="md-ripple-container"></div>
                    </md-button>                    
                  </li>
                </ul>
                                
                </div>
                </md-item-content>
            </md-item>


             <md-item layout="row" ui-sref="visitas.pendientes" flex>
                   <md-item-content flex class="docs-menu">
                <div class="menu-toggle">
                <ul class="docs-menu" >
                  <li>
                    <md-button class="md-button-toggle md-button md-default-theme docs-menu"  ng-click="Myv= false;values=[];Preshow  = !Preshow;load('Prealerteds',true);"   aria-controls="docs-menu-Demos" aria-expanded="true" class="docs-menu">
                      <div flex layout="row" > 
                       <span>Pendiente de aprobación</span>
                        <span flex=""></span>
                        <span aria-hidden="true"  > 
                          <span class="badge orange-badge">{{$root.vstats.pending}}</span>
                        </span>
                      </div>
                      <div class="md-ripple-container"></div>
                    </md-button>                    
                  </li>
                </ul>
                                
                </div>
                </md-item-content>
            </md-item>

             

     
             <md-item layout="row" ui-sref="visitas.aprobadas" flex>
                   <md-item-content flex class="docs-menu">
                <div class="menu-toggle">
                <ul class="docs-menu" >
                  <li>
                    <md-button class="md-button-toggle md-button md-default-theme docs-menu"  ng-click="Myv= false;values=[];Preshow  = !Preshow;load('Prealerteds',true);"   aria-controls="docs-menu-Demos" aria-expanded="true" class="docs-menu">
                      <div flex layout="row" > 
                       <span>Aprobadas</span>
                        <span flex=""></span>
                        <span aria-hidden="true"  > 
                          <span class="badge orange-badge">{{$root.vstats.approved}}</span>
                        </span>
                      </div>
                      <div class="md-ripple-container"></div>
                    </md-button>                    
                  </li>
                </ul>
                                
                </div>
                </md-item-content>
            </md-item>
            

   <md-item layout="row" ui-sref="visitas.rechazadas" flex>
                   <md-item-content flex class="docs-menu">
                <div class="menu-toggle">
                <ul class="docs-menu" >
                  <li>
                    <md-button class="md-button-toggle md-button md-default-theme docs-menu"  ng-click="Myv= false;values=[];Preshow  = !Preshow;load('Prealerteds',true);"   aria-controls="docs-menu-Demos" aria-expanded="true" class="docs-menu">
                      <div flex layout="row" > 
                       <span>Rechazadas</span>
                        <span flex=""></span>
                        <span aria-hidden="true"  > 
                          <span class="badge orange-badge">{{$root.vstats.rejected}}</span>
                        </span>
                      </div>
                      <div class="md-ripple-container"></div>
                    </md-button>                    
                  </li>
                </ul>
                                
                </div>
                </md-item-content>
            </md-item>


          <md-item layout="row" ui-sref="visitas.caducadas" flex>
                   <md-item-content flex class="docs-menu">
                <div class="menu-toggle">
                <ul class="docs-menu" >
                  <li>
                    <md-button class="md-button-toggle md-button md-default-theme docs-menu"  ng-click="Myv= false;values=[];Preshow  = !Preshow;load('Prealerteds',true);"   aria-controls="docs-menu-Demos" aria-expanded="true" class="docs-menu">
                      <div flex layout="row" > 
                       <span>Caducadas</span>
                        <span flex=""></span>
                        <span aria-hidden="true"  > 
                          <span class="badge orange-badge">{{$root.vstats.past}}</span>
                        </span>
                      </div>
                      <div class="md-ripple-container"></div>
                    </md-button>                    
                  </li>
                </ul>
                                
                </div>
                </md-item-content>
            </md-item>



        </md-list>

        </md-content>
          </section>


            <md-button ui-sref="notificar_visita" style="position:absolute; right:0;   bottom: 40px;" class="md-fab md-primary" aria-label="Eat cake">
            <ng-md-icon icon="add" style="position: relative;
    top: 15px; fill:white"></ng-md-icon>
        </md-button>