
<!-- visitas -->

 <section on-scroll-bottom='more("Pendings")' style="overflow:auto; height:100%;backgroung:white">


     <md-list ng-init="load('Pendings')"  layout-padding>

  <div ng-if="values">
  <md-lis-item ng-if="values && values.length == 0 && !$root.loading">

        <p>Parece que no tienes visitas PENDIENTES por el momento.</p>
       </md-lis-item>   
</div>
     
     

<md-card  ng-init="totime()" ui-sref="detalle_visitas({id:value.Id})" layout="column" ng-repeat="value in values  | filter:$root.search || ''   track by $index" aria-label="swipe" style="  margin-bottom: 20px !important;   position: relative;">
  <md-card-content >
<small layout="row">Visita de</small>
        <md-button  class="md-icon-button"  aria-label="more-center" style="  position: absolute;
  right: 0;
  top: 3px;">
                  <md-icon md-svg-icon="assets/icons/more_vert.svg"></md-icon>    
              </md-button>
              <div></div>
     <strong layout="row" style="font-size: 20px; color:#444">
     {{value.VisitName || 'Pedro Perez'}}</strong>

  </md-card-content>

  <md-card-content  ng-if="value.Reason" style="  padding-bottom: 0;
  padding-top: 0;">
  <small layout="row">Motivo</small>
  <p layout="row">{{value.Reason}}</p>
  </md-card-content>

  <md-card-content ng-show="$root.suite == current_visit.SuiteId" >
     <md-button ng-click="autorize(value)">Rechazar</md-button>
     <md-button ng-click="autorize(value, true)">Aceptar</md-button>
  </md-card-content>

  <br>
</md-card>





</section>