@font-face{
  font-family: 'Roboto-Light';
  src: url('../../fonts/Roboto-Light.ttf') format("truetype");    
}

@font-face{
  font-family: 'Roboto-Medium';
  src: url('../../fonts/Roboto-Medium.ttf') format("truetype"); 
}

body{
    background: url(../../images/D-home-backgroung.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;    
	  outline: none;		
}

.trama{
    background: url(../../images/fondo_trama_Dhome-01.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;    
    outline: none;
    color: #ffffff;
    font-size: large;  
}

#maincontainer{
  display: block;
  margin: 0 auto;
  width: 62.5%; 
  min-width: 600px;
  padding-top: 30px;  
  padding-bottom: 30px;  
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;  
}

#sidebar {
  width: inherit;
  min-width: 240px;
  max-width: 240px;
  background-color: #606467;
  font-family: Roboto-Light;
  float: left;
  height:100%;
  -webkit-box-shadow: 0 8px 8px  rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 8px 8px  rgba(0, 0, 0, 0.6);
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.6);
  position:absolute;
  overflow-y:auto;
  overflow-x:hidden;
}

#main {
  min-height: 400px;
  height:100%;
  overflow:auto;
}

#mainform {
  display: block;
  width: 100%;
  padding: 100px 20px 35px 20px;  
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 60px;
}

.title{ 
  font-size: 1em;  
  text-align: center;
  color: white; 
  text-shadow: 2px 2px black;
  font-family: Roboto-Light;
  padding-bottom: 40px;
}

.center{
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 30px 20px 30px 20px;  
}

.greenBtn {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 420px;
  height: 52px;  
  display: inline-block;
  margin: 0 auto;
  outline: 0;
  border: 0;
  color: #f3faef;
  text-decoration: none;    
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top,  #ffffff 0%, #d5e589 5%, #bcd644 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(5%,#d5e589), color-stop(100%,#bcd644)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ffffff 0%,#d5e589 5%,#bcd644 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ffffff 0%,#d5e589 5%,#bcd644 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ffffff 0%,#d5e589 5%,#bcd644 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ffffff 0%,#d5e589 5%,#bcd644 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#bcd644',GradientType=0 ); /* IE6-9 */     
  font-family: Roboto-Medium;    
  font-size: 0.33em;  
  text-shadow: 2px 2px 1px rgba(0,0,0,0.3);
  padding: 12px 22px 12px 22px;
  line-height: normal;
  text-align: center;  
  vertical-align: middle;
  cursor: pointer;
  text-transform: uppercase;   
  -webkit-box-shadow: 0 0 8px 2px rgba(15, 15, 15, 0.3);
  -moz-box-shadow: 0 0 8px 2px rgba(15, 15, 15, 0.3);
  box-shadow: 0 0 8px 2px rgba(15, 15, 15, 0.3);
}

.greenBtn:hover {
  color: #fff;
  background-color: #73c437;
}
.greenBtn:active {
  -webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow:inset 0 1px 5px rgba(0, 0, 0, 0.1);
  box-shadow:inset 0 1px 5px rgba(0, 0, 0, 0.1);
}


.navbar{
	width: inherit;
  min-width: 320px;
  max-width: 400px;
  font-family: Roboto-Light;
  background: transparent;
  border: transparent;
  color: #fff;
  float: right;  
  height: inherit;
  max-height: 120px;
  min-height: 60px;
}

.container-fluid-padding{
	padding-left: 30px;
	padding-right: 30px;
}

.navbar-brand{	
	font-size: 22px;
}

.dropdown{	
	font-size: 15px;  
}

.username{
	padding-left: 20px;
	padding-right: 20px;
}

.modal-dialog-register{
  width: 420px; 
  margin: 120px auto;     
}

.modal-dialog-floors{
  width: 480px; 
  margin: 120px auto;   
}

.modal-dialog-apartments{
  width: 600px; 
  margin: 120px auto;   
}

.modal-content-default{
  background: #f3f6fa;  
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  border-radius: 0px;
}

.modal-content-default.nobackground{
  background-color:rgba(0, 0, 0, 0.3);
}

.modal-title-green{  
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top,  #ffffff 0%, #d5e589 5%, #bcd644 100%); /* FF3.6+ */	
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(5%,#d5e589), color-stop(100%,#bcd644)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ffffff 0%,#d5e589 5%,#bcd644 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ffffff 0%,#d5e589 5%,#bcd644 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ffffff 0%,#d5e589 5%,#bcd644 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ffffff 0%,#d5e589 5%,#bcd644 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#bcd644',GradientType=0 ); /* IE6-9 */   
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;  
  height: 52px; 
  text-decoration: none;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.3);
  padding: 12px 22px 12px 22px;    
  font-family: Roboto-Medium;
  font-variant: small-caps;    
  font-size: 20px;   
  line-height: normal;
  text-align: center;
  vertical-align: middle; 
  outline: 0;
  border: 0;
  color: #f3faef;
  text-transform: uppercase; 
}

.modal-title-gray{
	background: #939da2; /* Old browsers */
	background: -moz-linear-gradient(top,  #939da2 0%, #5f6366 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#939da2), color-stop(100%,#5f6366)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #939da2 0%,#5f6366 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #939da2 0%,#5f6366 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #939da2 0%,#5f6366 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #939da2 0%,#5f6366 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#939da2', endColorstr='#5f6366',GradientType=0 ); /* IE6-9 */
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;  
	height: 52px; 	
	text-shadow: 2px 2px 2px rgba(0,0,0,0.3);
	padding: 12px 22px 12px 22px;    
	font-family: Roboto-Light;	  
	font-size: 20px;   
	line-height: normal;
	text-align: center;
	vertical-align: middle; 
	outline: 0;
	border: 0;
	color: #f3faef;
	text-transform: small-caps; 
}

.modal-title-default{
  background: #f3f6fa  
  -moz-box-sizing: border-box;
  box-sizing: border-box;  
  height: 52px;     
  padding: 22px 22px 4px 22px;    
  font-family: Roboto-Medium;    
  font-size: 17px;  
  line-height: normal;
  text-align: center;
  vertical-align: middle; 
  outline: 0;
  border: 0;
  color: #505558;    
  text-transform: small-caps; 
}

.form { 
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #f3f6fa;
  padding: 30px 30px 30px 30px; 
  text-align: center;
}

.nobackground{
  background: none;
}

.form.form-floors{
  padding-top: 4px;  
}

.checkbox.apartments{
  text-align: left;
  margin-bottom: 30px;
  margin-left: 10px;
}

.checkbox-input{
  background: #f3f6fa;
  border: 2px #8c969a; 
}

.checkbox-label{
  font-family: Roboto-Light;  
  text-transform: small-caps;    
  color: #7a7b7c;
  font-style: italic;
}

.checkbox-label-nonitalic{
  font-family: Roboto-Light;  
  text-transform: small-caps;    
  color: #7a7b7c;
  font-size: 17px;  
  font-weight: bold;
}

.txtfield-background-checkbox{
  display: inline-block;   
  text-align: center;  
  background-color: #D6E1E5;  
  border: 1px solid;
  border-color: #A4AEB2;   
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  transition: all 0.25s linear;
  width: 75%;
  margin-bottom: 30px;
  padding: 10px;
}

.nopadding-up{
  padding-top: 0px;
}

.txtfield { 
  display: inline-block;
  width: 70%;    
  padding: 9px 9px;   
  margin-bottom: 30px;
  font-family: Roboto-Light;  
  text-transform: small-caps;    
  color: #7988a3;
  font-size: 1em;
  text-align: center;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.8);
  background-color: #fff;  
  border: 1px solid;
  border-color: #adb4ba;    
  line-height: normal;  
  vertical-align: middle;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  transition: all 0.25s linear;
}

.txtfield:focus {
  outline: none;
  color: #525864;
  border-color: #84c0ee;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), 0 0 7px #96c7ec;
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), 0 0 7px #96c7ec;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), 0 0 7px #96c7ec;
}


.txtfield-login { 
  display: inline-block;
  width: 100%;    
  padding: 9px 9px; 
  margin-bottom: 20px;
  font-family: Roboto-Medium;  
  text-transform: small-caps; 
  color: #7988a3;
  font-size: 1em;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.8);
  background-color: #fff;  
  border: 1px solid;
  border-color: #adb4ba;     
  line-height: normal;  
  vertical-align: middle;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  transition: all 0.25s linear;
}

.txtfield-login:focus {
  outline: none;
  color: #525864;
  border-color: #84c0ee;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), 0 0 7px #96c7ec;
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), 0 0 7px #96c7ec;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), 0 0 7px #96c7ec;
}

.txtfield-noinput{
  display: inline-block;     
  padding: 9px 9px;   
  margin-top: 0;    
  font-family: Roboto-Light;  
  text-transform: small-caps;    
  color: #7a7b7c;
  font-size: 1.2em;
  text-align: center;  
  line-height: normal;  
  vertical-align: middle;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  transition: all 0.25s linear;
}

.txtfield-noinput.white{
  color: #ffffff;
}

.txtfield-noinput.label{
  font-family: Roboto-Medium;
  color: #505558;
  font-size: 14px; 
}

.txtfield-noinput.congrat{
  font-family: Roboto-Light;
  color: #505558;
  font-size: 27px; 
  color: #ffffff;
}


.txtfield-background { 
  display: inline-block;   
  text-align: center;  
  background-color: #fff;  
  border: 1px solid;
  border-color: #adb4ba;   
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  transition: all 0.25s linear;
  width: 50px;
}

.nopadding-left{  
  padding-left: 0px;  
}
.nopadding-right{  
  padding-right: 0px;  
}
.nopadding-side{
  padding-left: 0px; 
  padding-right: 0px;  
}
.margin-bottom-30{
  margin-bottom: 30px;
}
.padding-updown-5{  
  padding-top: 5px;
  padding-bottom: 5px;
}

.float-right{
  float: right;
}

.txtfield-spin{  
  border-right: 0px;
  padding: 7px 2px 7px 2px;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.8);
  font-family: Roboto-Light;  
  border: 0;
  background: transparent;  
  text-transform: small-caps; 
  color: #7988a3;  
  font-size: 0.9em;
  line-height: normal;  
  vertical-align: middle;
  float: left;
  max-width: 20px;
}

.txtfield-spin:focus {
  outline: none;
  color: #525864;
  border-color: transparent;  
  float: left;
}

.txtfield-spin-icons{    
  border: 0;  
  background: #f3f6fa;
  padding: 0;   
  max-width: 10px;
  width: auto;
}

.txtfield-spin-icon{
  font-size: 9px;
  border: 0;
}

.submitBtn-green {    
  width: 100%;  
  display: inline-block;
  outline: 0;
  border: 0;
  color: #fff;
  padding: 6px 6px;  
  text-decoration: none;  
  background: #bcd644;
  font-family: Roboto-Light;    
  font-size: 1.2em;  
  text-shadow: 0 1px 0 rgba(0,0,0,0.3);    
  line-height: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  text-transform: small-caps;   
  -webkit-box-shadow: 0 1px 0 rgba(15, 15, 15, 0.3);
  -moz-box-shadow: 0 1px 0 rgba(15, 15, 15, 0.3);
  box-shadow: 0 1px 0 rgba(15, 15, 15, 0.3);
}

.submitBtn-green:hover{
  color: #fff;
  background-color: #9EBC3C;
}

.submitBtn-green:active {
  -webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow:inset 0 1px 5px rgba(0, 0, 0, 0.1);
  box-shadow:inset 0 1px 5px rgba(0, 0, 0, 0.1);
}

.submitBtn-log-register {  
  width: 100%;    
  display: inline-block;
  outline: 0;
  border: 0;
  color: #bfdc44;
  padding: 9px 9px;  
  text-decoration: none;  
  background: linear-gradient( to bottom, #879296, #5f6366);     
  font-family: Roboto-Medium;    
  font-size: 1em;  
  text-shadow: 0 1px 0 rgba(0,0,0,0.3);    
  line-height: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  text-transform: small-caps;   
  -webkit-box-shadow: 0 1px 0 rgba(15, 15, 15, 0.3);
  -moz-box-shadow: 0 1px 0 rgba(15, 15, 15, 0.3);
  box-shadow: 0 1px 0 rgba(15, 15, 15, 0.3);
  margin: 5px;
}

.submitBtn-log-register:hover {
  color: #fff;
  background-color: #73c437;
}
.submitBtn-log-register:active {
  -webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow:inset 0 1px 5px rgba(0, 0, 0, 0.1);
  box-shadow:inset 0 1px 5px rgba(0, 0, 0, 0.1);
}

html input[type=button] .submitBtn, .submitBtn {    
  width: 35%;  
  display: inline-block;
  outline: 0;
  border: 0;
  color: #fff;
  padding: 6px 6px;  
  text-decoration: none;  
  background: #00b5b8;
  font-family: Roboto-Light;    
  font-size: 1.2em;  
  text-shadow: 0 1px 0 rgba(0,0,0,0.3);    
  line-height: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  text-transform: small-caps;   
  -webkit-box-shadow: 0 1px 0 rgba(15, 15, 15, 0.3);
  -moz-box-shadow: 0 1px 0 rgba(15, 15, 15, 0.3);
  box-shadow: 0 1px 0 rgba(15, 15, 15, 0.3);
}

.submitBtn:hover {
  color: #fff;
  background-color: #008480;
}
.submitBtn:active {
  -webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow:inset 0 1px 5px rgba(0, 0, 0, 0.1);
  box-shadow:inset 0 1px 5px rgba(0, 0, 0, 0.1);
}

.submitBtn-without-margin{  
   width: 50%;
}

.submitBtn.column{
  width: 100%;  
}


.submitFBTitle{
  font-family: Roboto-Medium;
  font-weight: lighter;
  text-transform: small-caps;  
  font-size: 1em;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.8);
  line-height: normal;  
  text-align: center;
  vertical-align: middle;
  color: #9da4a9;  
  margin-bottom: 0px;
}

.submitFBImage{
  background: url(../../images/D-Home-facebook-login-icon.png) no-repeat right;
  cursor: pointer;
}

.table>tbody>tr>td.nopadding{
  padding-left: 0px;
  padding-right: 0px;
  border-bottom: 0;
  border-top: 0;
  max-width: 50px;
}

.table>tbody>tr>td.nopadding-first{  
  margin-left: 10px;
  padding-right: 0px;
  padding-right: 0px;
  border-bottom: 0;
  border-top: 0;
}
.table>tbody>tr>th.thapartment{  
  width: 70px;
  border-right: 1px solid;    
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.8);
  font-family: Roboto-Light;   
  background: transparent;  
  text-transform: small-caps;    
  padding-right: 0px;
}

.table>thead>tr>th.thapartment{
  width: 50px;  
  font-family: Roboto-Light;   
  background: transparent;  
  text-transform: small-caps;  
  margin-right: 20px;
  padding-left: 0px;
  padding-right: 0px;
}

.table>tbody>tr>th.padding-bottom-30{
  padding-bottom: 30px;
}

.radio-border{
  border-top-left-radius: 7px 7px;
  border-bottom-left-radius: 7px 7px;
}

.form-inline-width{
  max-width: 50px;
  min-width: 50px;
}

.form-message{     
      font-family: Roboto-Light;  
      background: transparent;  
      text-transform: small-caps; 
      margin-bottom: 30px;        
}

.flatBt {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 52px;  
  display: inline-block;
  margin: 0 auto;
  outline: 0;
  border: 0;
  color: #d5e589;
  text-decoration: none;    
  border: 3px solid rgba(188, 214, 68,1);
  font-family: Roboto-light;    
  font-size: 0.33em;  
  text-shadow: 2px 2px 1px rgba(0,0,0,0.3);
  padding: 12px 22px 12px 22px;
  line-height: normal;
  text-align: center;  
  vertical-align: middle;
  cursor: pointer;   
}

.flatBt:hover {
  color: #d5e589;
  background-color: rgba(188, 214, 68,1);
}
.flatBt:active {
  color: #FFFFFF;
  background-color: #d5e589;
}

.flatBt-white {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 60px;  
  display: inline-block;
  margin: 0 auto;
  outline: 0;
  border: 0;
  color: #f3faef;
  text-decoration: none;    
  /*background: #ffffff;  Old browsers */
  /*background: -moz-linear-gradient(top,  #ffffff 0%, #d5e589 5%, #bcd644 100%);  FF3.6+ */
  /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(5%,#d5e589), color-stop(100%,#bcd644));  Chrome,Safari4+ */
  /*background: -webkit-linear-gradient(top,  #ffffff 0%,#d5e589 5%,#bcd644 100%);  Chrome10+,Safari5.1+ */
  /*background: -o-linear-gradient(top,  #ffffff 0%,#d5e589 5%,#bcd644 100%);  Opera 11.10+ */
  /*background: -ms-linear-gradient(top,  #ffffff 0%,#d5e589 5%,#bcd644 100%);  IE10+ */
  /*background: linear-gradient(to bottom,  #ffffff 0%,#d5e589 5%,#bcd644 100%);  W3C */
  /*background: linear-gradient(to bottom, #ffffff 0%,#d5e589 5%,rgba(188, 214, 68, 0) 100%);*/
  border: 3px solid rgba(243, 250, 249,1);
  font-family: Roboto-light;    
  font-size: 0.33em;  
  text-shadow: 2px 2px 1px rgba(0,0,0,0.3);
  padding: 12px 22px 12px 22px;
  line-height: normal;
  text-align: center;  
  vertical-align: middle;
  cursor: pointer;   
}

.flatBt-white:hover {
  color: #ffffff;
  background-color: rgba(255, 255, 255,1);
}
.flatBt-white:active {
  color: #5f6366;
  background-color: #ffffff;
}

.form2 {
  font-size: 60px;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.a-back {
  background: linear-gradient( to bottom, #879296, #5f6366);
  border: 1px solid rgba(255,255,255,1);
  padding-top: 15px;
  padding-bottom: 15px;
  color: #bfdc44;
  font-weight: bold;
  font-size: 20px;
  text-shadow: 0 1px 0 rgba(0,0,0,0.3);
  line-height: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer; 
}

/*.a-back:hover {
  background: linear-gradient( to bottom, #404547, #323436);
  border: 1px solid rgba(255,255,255,1);
  padding-top: 15px;
  padding-bottom: 15px;
  color: #bfdc44;
  font-weight: bold;
  font-size: 20px;
  text-shadow: 0 1px 0 rgba(0,0,0,0.3);
  line-height: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer; 
}*/

.a-back:active {
  background: linear-gradient( to bottom, #404547, #323436);
  border: 1px solid rgba(255,255,255,1);
  padding-top: 15px;
  padding-bottom: 15px;
  color: #bfdc44;
  font-weight: bold;
  font-size: 20px;
  text-shadow: 0 1px 0 rgba(0,0,0,0.3);
  line-height: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer; 
}

.a-back-pressed{ 
  background: linear-gradient( to bottom, #404547, #323436);
  border: 1px solid rgba(255,255,255,1);
  padding-top: 15px;
  padding-bottom: 15px;
  color: #bfdc44;
  font-weight: bold;
  font-size: 20px;
  text-shadow: 0 1px 0 rgba(0,0,0,0.3);
  line-height: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer; 
}

.bs-grid{
  box-shadow: 0 0 8px 2px rgba(15, 15, 15, 0.3);
  padding-left: 0px;
  padding-right: 0px;
}

.row-form:before,
.row-form:after{
    display: table;
    content: " ";
}

.row-form:after{
    clear: both;
}

.row-form {
  margin-bottom: 20px;
}
.row-form .row-form {
  margin-top: 10px;
  margin-bottom: 0;
}


.row {
  margin-bottom: 0px;
}
.row .row {
  margin-top: 10px;
  margin-bottom: 0;
}

.row {
  margin-bottom: 0px;
}
.row .row {
  margin-top: 10px;
  margin-bottom: 0;
}

.btn-tower {  
  width: 45%;    
  display: inline-block;
  outline: 0;
  border: 0;
  color: #bfdc44;
  padding: 9px 9px;  
  text-decoration: none;  
  background: linear-gradient( to bottom, #879296, #5f6366);     
  font-family: Roboto-Medium;    
  font-size: 1em;  
  text-shadow: 0 1px 0 rgba(0,0,0,0.3);    
  line-height: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  text-transform: small-caps;   
  -webkit-box-shadow: 0 1px 0 rgba(15, 15, 15, 0.3);
  -moz-box-shadow: 0 1px 0 rgba(15, 15, 15, 0.3);
  box-shadow: 0 1px 0 rgba(15, 15, 15, 0.3);
  margin-top: 10px;
}

.btn-tower:hover {
  color: #fff;
  background-color: #73c437;
}
.btn-tower:active {
  -webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow:inset 0 1px 5px rgba(0, 0, 0, 0.1);
  box-shadow:inset 0 1px 5px rgba(0, 0, 0, 0.1);
}

.btn-cancel {  
  width: 45%;    
  display: inline-block;
  outline: 0;
  border: 0;
  color: #5f6366;
  padding: 9px 9px;  
  text-decoration: none;  
  border: 2px solid rgba(95, 99, 102,1);     
  font-family: Roboto-Medium;    
  font-size: 1em;  
  text-shadow: 0 1px 0 rgba(0,0,0,0.3);    
  line-height: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  text-transform: small-caps;   
  -webkit-box-shadow: 0 1px 0 rgba(15, 15, 15, 0.3);
  -moz-box-shadow: 0 1px 0 rgba(15, 15, 15, 0.3);
  box-shadow: 0 1px 0 rgba(15, 15, 15, 0.3);
  margin-top: 10px;
}

.btn-cancel:hover {
  color: #fff;
  background-color: #5f6366;
}
.btn-cancel:active {
  -webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow:inset 0 1px 5px rgba(0, 0, 0, 0.1);
  box-shadow:inset 0 1px 5px rgba(0, 0, 0, 0.1);
}

.btn-form-cancel { 
  width: 200px;
  height: 42px; 
  display: inline-block;
  outline: 0;
  border: 0;
  color: #fff;
  padding: 9px 9px;  
  text-decoration: none;  
  border: 3px solid rgba(243, 250, 249,1);
  font-family: Roboto-light;    
  font-size: 1em;  
  text-shadow: 0 1px 0 rgba(0,0,0,0.3);    
  line-height: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  text-transform: small-caps;   
  margin-top: 10px;
}

.btn-form-cancel:hover {
  color: #fff;
  background-color: #5f6366;
}
.btn-form-cancel:active {
  -webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow:inset 0 1px 5px rgba(0, 0, 0, 0.1);
  box-shadow:inset 0 1px 5px rgba(0, 0, 0, 0.1);
}

.btn-form-save {  
  width: 200px;
  height: 42px;   
  display: inline-block;
  outline: 0;
  border: 0;
  color: #5f6366;
  padding: 9px 9px;  
  text-decoration: none;  
  background: linear-gradient(to bottom,  #ffffff 0%,#d5e589 5%,#bcd644 100%);     
  font-family: Roboto-light;    
  font-size: 1em;  
  text-shadow: 0 1px 0 rgba(0,0,0,0.3);    
  line-height: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  text-transform: small-caps;   
  -webkit-box-shadow: 0 1px 0 rgba(15, 15, 15, 0.3);
  -moz-box-shadow: 0 1px 0 rgba(15, 15, 15, 0.3);
  box-shadow: 0 1px 0 rgba(15, 15, 15, 0.3);
  margin-top: 10px;
}

.btn-form-save:hover {
  color: #fff;
  background-color: #73c437;
}
.btn-form-save:active {
  -webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow:inset 0 1px 5px rgba(0, 0, 0, 0.1);
  box-shadow:inset 0 1px 5px rgba(0, 0, 0, 0.1);
}

.form-tower { 
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #f3f6fa;
  padding: 30px 30px 60px 30px; 
  text-align: center;
}

#container2{
  display: block;
  margin: 0 auto;
  width: 100%; 
  min-width: 600px;
  padding-top: 30px;  
  padding-bottom: 30px;  
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  
}

#container-form{
  display: block;
  margin: 0 auto;
  width: 100%; 
  min-width: 600px;
  padding-top: 30px;  
  padding-bottom: 30px;
  padding-right: 50px;
  padding-left: 50px;  
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  
}

.blog-masthead {
  background: linear-gradient(to bottom,  #ffffff 0%,#d5e589 5%,#bcd644 100%);
  -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
          box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
  width: 100%;
  margin: 0px;
  padding: 25px;
}

.blog-header {
  padding-top: 20px;
  padding-bottom: 20px;
}
.blog-title {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 60px;
  font-weight: normal;
}
.blog-description {
  font-size: 20px;
  color: #999;
}

/*
 * Blog posts
 */

.blog-post {
  margin-bottom: 60px;
}
.blog-post-title {
  margin-bottom: 5px;
  font-size: 40px;
}
.blog-post-meta {
  margin-bottom: 20px;
  color: #999;
}

.no-bullets{
  list-style-type: none;
}

.separator{
  border-top: 1px dotted #fff;
}


/*
 * Main column and sidebar layout
 */

.blog-main {
  font-size: 18px;
  line-height: 1.5;
}

/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;

}

html,.port-main,.container
{
    height:95.5%;
}
.container
{
    display:table;
    width: 100%;
    margin-top: -50px;
    padding: 50px 0 0 0; /*set left/right padding according to needs*/
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
footer
{
    display: table;
    height: 100px;
    width: 100%;
}

.port-row
{
    height: 100%;
    display: table-row;
}
.col-pt-3.no-float, .col-pt-9.no-float {
    float: none; /* thanks baxabbit */
}
.col-pt-3
{
  min-height: 300px;
    margin:0px auto;
    padding:15px;
    display: table-cell;
}
.col-pt-9
{
  min-height: 400px;
    margin:0px auto;
    padding:15px;
    display: table-cell;
    width: 60%;
    float: none;
}

.show-grid{
  height: 100%;
  padding: 15px;
  margin: 0 auto;
}

.btn-port { 
  width: 200px;
  height: 50px; 
  display: inline-block;
  outline: 0;
  border: 0;
  color: #BCD644;
  padding: 9px 9px;  
  text-decoration: none;  
  border: 3px solid rgba(188, 214, 68,1);
  font-family: Roboto-light;    
  font-size: 1.33em;  
  text-shadow: 0 1px 0 rgba(0,0,0,0.3);    
  line-height: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  text-transform: small-caps;   
  margin-top: 10px;
}

.btn-port:hover {
  color: #f3faef;
  background-color: #BCD644;
}
.btn-port:active {
  -webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow:inset 0 1px 5px rgba(0, 0, 0, 0.1);
  box-shadow:inset 0 1px 5px rgba(0, 0, 0, 0.1);
}

