<!--div class="modal fade" id="LoginModal" aria-hidden="true">
	<div class="modal-dialog modal-dialog-register">
	  <div class="modal-content modal-content-default"-->         
	      <h1 class="modal-title modal-title-green" id="myModalLabel">Iniciar Sesión</h1>  
	      <div class="modal-body form login">             
	        <input type="text" placeholder="Cédula:" class="form txtfield-login" ng-model="userCedula"/>      
	        <input type="password"  placeholder="Clave:" class="form txtfield-login" ng-model="userPassword"/> 
	        <input type="submit" class="form submitBtn-log-register" ng-click="login(userCedula, userPassword)" data-dismiss="modal"  value="Iniciar Sesión"/>  
	      </div>
	  <!--/div> 
	</div>
</div-->
