<div class="modal fade" id="ButtonModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-register">
    <div class="modal-content modal-content-default">         
        <div class="modal-body form login">             
          <input href="" class="form submitBtn-log-register" data-dismiss="modal"  value="Recibir Correspondencia"/>
          <input href="" class="form submitBtn-log-register" data-dismiss="modal"  value="Entregar y Consultar Correspondencia"/>
          <input href="" class="form submitBtn-log-register" data-dismiss="modal"  value="Abrir Correspondencia"/>  
          <input href="" class="form submitBtn-log-register" data-dismiss="modal"  value="Registro de Visitas"/>  
          <input href="" class="form submitBtn-log-register" data-dismiss="modal"  value="Visitas Autorizadas"/>      
        </div>
    </div> 
  </div>
</div>