     
<div class="modal-body form login">             
  <input href="" class="form submitBtn-log-register" data-dismiss="modal"  value="Recibir Correspondencia" ng-click="goToRecibirCorrespondencia()"/>
  <input href="" class="form submitBtn-log-register" data-dismiss="modal"  value="Entregar y Consultar Correspondencia" ng-click="goToCorrespondenciaPendiente()"/>
  <!--input href="" class="form submitBtn-log-register" data-dismiss="modal"  value="Abrir Correspondencia"/-->  
  <input href="" class="form submitBtn-log-register" data-dismiss="modal"  value="Registro de Visitas" ng-click="goToRegistrarVisita()"/>  
  <input href="" class="form submitBtn-log-register" data-dismiss="modal"  value="Visitas Autorizadas" ng-click="goToVisitasAutorizadas()"/>      
</div>
