      
<div class="modal-body form-tower login">             
  <div class="bs-grid"> <!--Edificio -->
    
    <div class="row" ng-repeat="piso in pisos"> <!-- Piso -->
        <div ng-repeat="apartamento in piso.apartamentos" ng-class="{'col-lg-2 a-back-pressed' : apartamento.selected, 'col-lg-2 a-back' : !apartamento.selected}" ng-click="seleccionMultiple(apartamento)">{{apartamento.Name}}</div>
    </div>
   
  </div>      
    <a href="" class="form btn-cancel pull-left" data-dismiss="modal">Cancelar</a>
    <a ng-click="goToRecibirCorrespondencia()" class="form btn-tower pull-right" data-dismiss="modal">Continuar</a>
</div>