<!-- bloque - aptos -->
<section ng-init="load()">
<div layout="row"  ng-if="thebuilding.Towers.length > 1">
<md-toolbar >
  <div class="md-toolbar-tools   md-whiteframe-z1" style="background:rgb(236, 236, 236)" flex  layout-align="center center">
      <md-button style="color:black" ui-sref="home.towers"  flex>
       Torres
      </md-button>       
      <md-button style="color:black" ui-sref="home.suites" flex>
       Apartamentos
      </md-button>
  </div>
</md-toolbar>
</div>
</section>
<ng-md-search></ng-md-search>
<div ng-if="!$root.loading">
<div style="position:relative" layout-padding ui-view></div>
</div>



