<!-- bloque - aptos -->

<div layout="row"  ng-init="load()">
<md-toolbar ng-if="thebuilding.Towers.length > 1">
  <div class="md-toolbar-tools   md-whiteframe-z1" style="background:rgb(236, 236, 236)" flex  layout-align="center center">
      <md-button style="color:black" ui-sref="home.towers"  flex>
       Torres
      </md-button>       
      <md-button style="color:black" ui-sref="home.suites" flex>
       Apartamentos
      </md-button>
  </div>
</md-toolbar>
</div>
<br>

<div ng-if="!$root.loading">
<div ui-view></div>
</div>



