<section ng-init="call()" layout-padding>
<br>
     <md-header style="text-transform:uppercase">{{center.name}}</md-header>
<br>
<br>

      <md-subheader class="md-primary">Telefonos</md-subheader>

      <md-list >

      <md-lis-item ng-if="values.length == 0">
        <p>Vaya, parece que {{$root.center.name}} no tiene télefonos registrados por el momento.</p>
      </md-lis-item>    

     <md-list-item class="md-3-line"  ng-repeat="value in center.tel track by $index" >

      <img  ng-src="{{ center.image || 'assets/img/logo.png' }}" class="md-avatar" />
      
      <div class="md-list-item-text" ui-sref="mapa" >
          
          <h3 style="text-transform:">{{ value.name }}</h3>          
          <p class="p-aligned">(+57) {{value.tel }}</p>
        </div>
    <md-button class="md-icon-button" ng-href="tel:035{{value.tel}}" style="position: relative;
left: 25px; top: 21px;">
          <ng-md-icon icon="call" style="fill:gray"></ng-md-icon>   
      </md-button>
      <br>
       <md-divider inset></md-divider>

     </md-list-item> 
      
    </md-list>

  </section>
