<!-- cambiar contrasena -->

<section >
    <div layout="row">
      <md-content class="responsive" layout-padding flex>
            <br>      
            <h4>Cambiar Contraseña </h4>
            <br>            

            <form name="formm" ng-model="form">
            
              <md-input-container flex>
                <label>Contraseña Anterior *</label>
                <input type="password" required  ng-model="form.OldPassword">
              </md-input-container>

              <md-input-container flex>
                <label>Nueva Contraseña *</label>
                <input type="password" required  ng-model="form.NewPassword">
              </md-input-container>

              <md-input-container flex>
                <label>Confirmar Nueva Contraseña *</label>
                <input type="password" required  ng-model="form.ConfirmPassword">
              </md-input-container>

             <md-content layout="row" flex layout-align="end">
                <md-button class="md-raised md-primary" ng-disabled="formm.$invalid"  ng-click="changePassword()">Cambiar Contraseña</md-button>
              </md-content>
            </form>
          </md-content>

    </div>

</section>
