<md-content layout-padding ng-init="load()">
	<md-content>
		<h3> APTO. {{$root.correspondence.CustomData.suite || $root.nothing}} ( {{$root.correspondence.CustomData.tower || $root.nothing}})</h3>
	<md-content>
	<md-input-container flex="">
		<h4>Para el Residente</h4>
		<span>{{$root.correspondence.To || $root.nothing }}</span>
		<h4>Observación</h4>
		<span>{{$root.correspondence.Observations || $root.nothing}}</span>
		<h4>Foto de la Correspondecia</h4>
		<span>{{$root.correspondence.CustomData.image || $root.nothing }}</span>
	</md-input-container>
</md-content>
