<!-- bloque - aptos -->
<section ng-init="load()">
<br>
 <md-content class="nobg">
   <md-card>
      <md-card-content class="post-title">
     <h4 >
      <div class="post-photo" >
     
      </div>

     Megan Fox (Administradora)</h4>
     <small class="post-date">hace 2 horas</small>
     </md-card-content>
      <img src="http://www.cascaismirage.com/site_images/contents/contents/76/page/piscina-5.jpg?1412607609" class="md-card-image" alt="Washed Out">
      <md-card-content>
        <h3 class="md-title">Cierre de Piscina</h3>
        <p>
          Se informa que por efectos de mantenimiento a la piscina, se suspenderá el acceso durante los días 27 y 28 de Mayo...
        </p>
      </md-card-content>
      <md-divider></md-divider>
      <md-card-content>

      <small>1000 Geniales · 20 Comentarios</small>
      </md-card-content>
      <md-divider></md-divider>
      <div class="md-actions" layout="row" layout-align="end center">
           <md-button flex><ng-md-icon icon="thumb_up"  style="fill:gray"></ng-md-icon> Recibido</md-button>
        <md-button flex><ng-md-icon icon="comment" style="fill:gray"></ng-md-icon> Comentar </md-button>
      </div>
    </md-card>
<br>

    <md-card>
      <md-card-content class="post-title">
     <h4 >
      <div class="post-photo" >
     
      </div>

     Megan Fox (Administradora)</h4>
     <small class="post-date">hace 2 horas</small>
     </md-card-content>
      <img src="http://www.cascaismirage.com/site_images/contents/contents/76/page/piscina-5.jpg?1412607609" class="md-card-image" alt="Washed Out">
      <md-card-content>
        <h3 class="md-title">Cierre de Piscina</h3>
        <p>
          Se informa que por efectos de mantenimiento a la piscina, se suspenderá el acceso durante los días 27 y 28 de Mayo...
        </p>
      </md-card-content>
      <md-divider></md-divider>
      <md-card-content>

      <small>1000 Geniales · 20 Comentarios</small>
      </md-card-content>
      <md-divider></md-divider>
      <div class="md-actions" layout="row" layout-align="end center">
           <md-button flex><ng-md-icon icon="thumb_up"  style="fill:gray"></ng-md-icon> Recibido</md-button>
        <md-button flex><ng-md-icon icon="comment" style="fill:gray"></ng-md-icon> Comentar </md-button>
      </div>
    </md-card>
 </md-content>

</section>
<br>
<br>
<br>






