<!--perfil-->

<section>
    <div layout="row">
    	<md-content layout-padding flex>
            <br>      
               <div class="profile-image" style="border-radius: 50%;
  margin: 0 auto;
  margin-top: 15px;
  height: 120px;
  width: 120px; background-color:#ebebeb" ng-click="profilePicture()"></div>
            <form layout="row" >

            <table style="margin:0 auto;">

            <tbody>
            <tr>
            <td style="padding-top:10px">
            <span ng-cloak style="" flex layout-align="center" ng-if="!editing">{{username}}</span>
            <md-input-container style="margin-top: 10px;" flex ng-if='editing'>
            <input autofocus ng-model='username' >
            </md-input-container>
            </td>
           
            <td>
             &nbsp;
      

            <span ng-click="console.log('hola');editing=!editing">
            <ng-md-icon  ng-if="!editing" icon="edit" style="color:#ccc"></ng-md-icon>
            <ng-md-icon icon="check" ng-if="editing" ></ng-md-icon>
            </span>
            </td>
              </tr>
            </tbody>
            </table>
            </form>
    
            <br>    
                              

           <md-button class="md-raised md-primary" layout-align="center center" style="  margin: 0 auto;
  display: flex;
  width: 50%; min-width:310px" ui-sref="cambiar-contrasena">Cambiar Contrasena</md-button>

          </md-content>

        
    </div>

</section>
