<div class="blog-masthead">
  <div class="container">
    <nav class="blog-nav">
    </nav>
  </div>
</div>
<div id="container-form">
  <div class="blog-header">
    <h2 class="blog-post-title">Correspondencia Pendiente de Entrega</h2>
  </div>

  <div class="row-form">
    <div class="col-xs-3">
      <div class="form-group">
        <label for="bloque">Bloque: </label>
        <span for="bloque">3</span>
      </div>
    </div>
    <div class="col-xs-3">
      <div class="form-group">
        <label for="apartamento">Apartamento: </label>
        <span for="apartamento">A7</span>
      </div>
    </div>
  </div>

  <div class="row-form">
    <div class="col-xs-3">
      <div class="form-group">
        <label for="bloque">Entregado a: </label>
        <input type="text" name="nombre" ng-model="destinatario" for="bloque" style="color: #000 !important;"/>
      </div>
    </div>
  </div>
  <div class="row-form">
    <table class="table">
      <tr ng-repeat="correspondencia in correspondencias">
        <td>{{$index+1}}.</td>
        <td>Correspondencia # {{correspondencia.Id}}&nbsp;{{correspondencia.Observations}}</td>
        <td><input type="checkbox" ng-model="seleccionadas[correspondencia.Id]" ng-change="setSeleccionadas()"></td>
      </tr>
      <tr ng-if="correspondencias.length == 0">
        <td>No hay correspondencias pendientes.</td>
      </tr>
    </table>
  </div>
  <a href="" class="btn-form-cancel pull-left" ng-click="goToInicio()">Cancelar</a>
  <a ng-click="solicitudCorrespondencia()" class="btn-form-save pull-right">Guardar</a>
</div>