<div class="container">
  <div class="port-row">
      <div class="col-pt-3">
        <div class="form2">
            <a class="center flatBt-white" id="logintrigger" ng-repeat="torre in torres" ng-click="getPisos(torre)">{{torre.nombre}}</a>
        </div>
      </div>
      <div class="col-pt-9">
        <div class="show-grid">
          <div class="row-centered">
            <div class="row" ng-repeat="piso in pisos"> <!-- Piso -->
                <div class="col-lg-2 a-back" ng-repeat="apartamento in piso.apartamentos" ng-click="openAcciones(apartamento)">{{apartamento.Name}}</div>
            </div>
      </div>
  </div>
  <footer>
    <div class="col-pt-3 no-float"></div>
    <div class="col-pt-9 no-float">
      <div class="row-form">
        <a class="btn-port pull-left" ng-click="openSeleccionMultiple()">Seleccionar Varios</a>
        <a class="btn-port pull-right" ng-click="goToRecibirCorrespondencia()">Seleccionar Todos</a>
      </div>
    </div>
  </footer>
</div>

