<div class="blog-masthead">
  <div class="container">
    <nav class="blog-nav">
    </nav>
  </div>
</div>
<div id="container-form">
  <div class="blog-header">
    <h2 class="blog-post-title">Visitas Autorizadas</h2>
  </div>

  <div class="row-form">
    <div class="col-xs-3">
      <div class="form-group">
        <label for="bloque">Bloque: </label>
        <span for="bloque">3</span>
      </div>
    </div>
    <div class="col-xs-3">
      <div class="form-group">
        <label for="apartamento">Apartamento: </label>
        <span for="apartamento">A7</span>
      </div>
    </div>
  </div>

  <div class="blog-post">
    <ul class="no-bullets">
      <li><label>Empresa: </label> <span>UNE</span></li>
      <li><label>Visitante: </label> <span>Juan Martinez</span></li>
      <li><label>Cedula: </label> <span>34.534.783</span></li>
      <li><label>Motivo: </label> <span>Realizar Instalacion de Internet</span></li>
      <li><label>Fecha y Hora: </label> <span>FEB 25-15 8:00:00 a.m. (Alertada por rual cifuentes)</span></li>
    </ul>
  </div>
  <hr class="separator">
  <div class="blog-post">
    <ul class="no-bullets">
      <li><label>Empresa: </label> <span>Parituclar</span></li>
      <li><label>Visitante: </label> <span>Jaime Gomez  </span></li>
      <li><label>Cedula: </label> <span>56.456.230</span></li>
      <li><label>Motivo: </label> <span>Visita personal</span></li>
      <li><label>Fecha y Hora: </label> <span>FEB 25-15 8:00:00 a.m. (Alertada por rual cifuentes)</span></li>
    </ul>
  </div>
  <div class="row-form">
    <a href="" class="btn-form-cancel pull-left" ng-click="goToInicio()">Atras</a>
  </div>
</div>